.card {
    padding:  1rem 0.123rem;
    margin: 3rem auto;
    width: 980px;
    text-align: center;
    background-color: rgba(247, 242, 250, 0.658);
    border-radius: 12px;
}
.card h3 {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 0.14rem;
}
.card h5 {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 0.12rem;
}

.filterbar {
    margin: 3rem auto;
    width: 980px;
    padding:  1rem 4rem;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.controls label {
    color: white;
    margin-right: 0.8rem;
}
.controls select {
    padding: 0.15rem 0.36rem;
    border: 0;
    text-transform: capitalize;
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
    width: 150px;
}
.controls option {
    background-color: rgb(240, 240, 240);
    border-radius: 12px;
}
